# 대용량 파일 제거
**/training.1600000.processed.noemoticon.csv
**/preprocessed_reviews.json
**/NanumSquareRoundR.ttf
**/hadoop-3.4.0.tar.gz
**/book.txt
**/sent.csv
**/ratings.csv
**/asin2category.json
**/data/

**/dataset/
**/weather.csv
**/notebooks/